{{ form_start(form) }}
    {{ form_row(form.UserName) }}

    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.email) }}
<button type="submit">Register!</button>
{{ form_end(form) }}